

 <footer class="flex flex-col md:flex-row bg-gray-900 py-5 md:py-0 h-auto md:h-[100px] z-50 w-full mt-[30px] md:mt-[150px]">
    <!-- footer menu -->
    <div class="w-sreen py-5 md:w-3/5 flex items-center justify-center md:justify-end">
      <nav class="md:mr-[60px]">
        <ul class="flex md:flex items-center">
          <a href="#" class="mr-2 md:mx-5 text-[11px] text-white md:border-r md:pr-8 border-white md:tracking-[1px]">關於我們</a>
          <a href="#" class="mr-2 md:mx-5 text-[11px] text-white md:border-r md:pr-8 border-white md:tracking-[1px]">服務條款</a>
          <a href="#" class="mr-2 md:mx-5 text-[11px] text-white md:border-r md:pr-8 border-white md:tracking-[1px]">隱私政策</a>
          <a href="#" class="mr-2 md:mx-5 text-[11px] text-white md:border-r md:pr-8 border-white md:tracking-[1px]">聯絡我們</a>
          <a href="#" class=" md:mx-5 text-[11px] text-white tracking-[1px]">FAQ</a>
        </ul>
      </nav>
    </div>

    <!-- footer icons -->
    <div class="w-sreen  py-3 md:py-3 md:w-2/5  flex items-center justify-center md:justify-start">
      <a href="#"><img src="/img/line.png" alt="" class=" mx-3"></a>
      <a href="#"><img src="/img/twitter.png" alt="" class=" mx-3"></a>
      <a href="#"><img src="/img/facebook.png" alt="" class=" mx-3"></a>
      <div class="text-[2px] text-gray-300 ml-2 hidden md:block">＠2023 rights</div>
    </div>
  </footer>
