<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Noto+Sans+TC&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/img/logo1.svg">
  <style>
    .red-dot-header {
      width: 13px;
      height: 13px;
      background-color: rgb(35, 223, 76);
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
    }

    .header-icon {
      width: 28px;
    }

    body .h1 .h2 .h3 .h4 .h5 p {
      font-family: 'Noto Sans JP', sans-serif;
      font-family: 'Noto Sans TC', sans-serif;
    }

    p {
      color:rgb(19, 19, 19);
      font-weight: 300;
    }

    .screen-h {
      height: calc(100% - 84px);
    }

    .h1 {
      font-size: 42px;
      letter-spacing: 12px;
      color: black;
      font-weight: 800;
    }

    .h2 {
      font-size: 40px;
      letter-spacing: 12px;
      color: white;
      text-shadow: #282828;
    }

    .h3 {
      text-align: center;
      font-size: 26px;
      font-family: sans-serif;
      color: #282828;
      letter-spacing: 6px;
      font-weight: 400;
    }


    .bg-kv-image {
      background-image: url('/img/kv_bg.png');
      background-size: cover;
    }

    .button-wrap {
      align-self: center;
      transition: all .5s;
      display: inline-block;
      position: relative;
    }

    .btn-overlay {
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: black;
      border-radius: 30px;
      display: block;
      position: absolute;
      top: 3px;
      left: 2px
    }

    .transition-05 {
      transition: all .5s;
    }

    .text {
      font-size: 18px;
      font-weight: 300;
    }
  </style>
</head>
<header class="mb-[140px] md:mb-[0px] z-40 h-[82px]">
  <div
    class="flex flex-col items-center justify-center  md:flex-row md:px-4 top-0 left-0 w-full fixed  bg-white shadow-sm">
    <div class="w-1/6 flex items-center justify-center md:justify-end">
      <a href="/" class="flex">

        <img src="/img/logo1.svg" alt="你的智友" class="hidden md:block md:w-[60px] md:h-auto mx-auto mt-5 md:mt-0 md:ml-6 md:p-2 ">

        <img src="/img/logo3.svg" alt="你的智友" class="h-[40px] md:w-[120px] md:h-auto mt-5 md:mt-0  md:p-2 mr-4"></a>
      <!-- <a href="/"
          class="header first-line:m-2 p-1 md:tracking-[2px] text-[22px] text-gray-900 font-semibold ">你的智友</a> -->
    </div>

    <!-- menu -->
    <div class="mt-2 w-3/6 flex items-center justify-center md:justify-start">
      <nav>
        <ul class="flex items-center justify-center">
          <a href="/about"
            class="mx-1 md:mx-5 text-[14px]  md:text-[17px] md:tracking-[2px] hover:text-red transition-colors duration-400">關於我們</a>
          <a href="/articles"
            class="mx-1 md:mx-5 text-[14px]  md:text-[17px]  md:tracking-[2px]  hover:text-red transition-colors duration-500">智友記事</a>
        </ul>
      </nav>
    </div>

    <!-- search bar and icon -->

    <div class=" w-2/6 flex items-center justify-center md:justify-end mt-3 mb-1 md:my-3 md:mr-2 md:pr-5 ">
      <!-- search bar border: use flex to let children be flex in a row-->
      <form action="/api/v1/search/friends" class="hidden md:block w-4/6 ">
        <div
          class=" flex items-center justify-center md:py-1 md:px-2 md:mr-8 rounded-full border border-gray-300 border-1">
          <!-- search bar text  -->
          <div class="w-4/6">
            <input
              class="text-sm flex-1 pl-2 md:px-4 md:py-2 font-thin rounded-full outline-none text-blue md:text-m tracking-widest"
              type="text" placeholder="搜尋智友" name="keyword" required>
          </div>
          <!-- icon  -->
          <div class="w-2/6 flex items-center justify-end">
            <button type="submit">
              <a href="#" class="flex items-center justify-end">
                <img src="/img/search.png" alt="search-icon" class="w-5 h-5 md:w-8 md:h-8">
              </a>
            </button>
          </div>
        </div>
      </form>

      <!-- chatroom icon -->
      <div class="flex justify-center w-[55px] relative transition-all delay-100 hover:scale-110 " id="messageIcon">
        <a href="/chatroom">
          <img class="header-icon" src="/img/messenger.svg" alt="message">
        </a>
        <span id="red-dot-header"></span>
      </div>

      <!-- <div class="mr-6 hidden md:block transition-all delay-100 hover:scale-110">
        <a href="/user/profile">
          <img src="/img/member.svg" class="header-icon" alt="">
        </a>
      </div> -->

      <div id="sign-in-btn" class="w-[100px] hidden hover:scale-105 md:ml-2">
        <a href="/user/signin" class="  relative">
          <div
            class="flex items-center justify-center w-[100px] h-[40px] hover:bg-blue bg-red rounded-full text-white md:text-[14px] md:tracking-[1px]">
            sign in</div>
          <div class="btn-overlay w-[120px] h-[40px]"></div>
        </a>
      </div>

      <div id="sign-in-picture" style="display: none;" class="w-[40px] m-2 md:mr-0  md:block">
        <a href="/user/profile"><img src="" class="w-[40px] h-[40px] rounded-full"
            alt="signin-photo"></a>
      </div>

    </div>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script>
      const token = Cookies.get('jwtToken');
      const senderId = localStorage.getItem('userId');

      if (token) {
        // document.getElementById("sign-in-picture").style.display = "block";
        document.getElementById("sign-in-btn").style.display = "none";

        fetch(`/api/v1/user/profile/${senderId}`)
          .then(response => response.json())
          .then(data => {
            if (data) {
              const pictureUrl = data[0].picture;
              console.log(pictureUrl);
              if(pictureUrl) {
                document.getElementById("sign-in-picture").querySelector('img').src = pictureUrl;
                document.getElementById("sign-in-picture").style.display = "block";
                localStorage.setItem('userPicture', pictureUrl);
              } 
            }
          })
          .catch(error => { console.log(error); });
      } else {
        document.getElementById("sign-in-btn").style.display = "block";
        document.getElementById("sign-in-picture").style.display = "none";
      }

      let socket
      if (senderId) {
        socket = io({
          auth: (cb) => {
            cb({ userId: senderId })
          }
        })
        socket.emit('joinMyRoom', String(senderId));
      }

      socket.on("message", function (data) {
        // 如果網址有room,id的邏輯，會因應點擊右方list調整所以使用let
        const messageIcon = document.getElementById('red-dot-header');
        messageIcon.classList.add('red-dot-header')
      })

      messageIcon.addEventListener('click', function () {
        messageIcon.removeChild('red-dot-header');
      });

      // 當頁面可見性改變時的處理函式
      function handleVisibilityChange() {
        if (document.visibilityState === 'visible') {
          socket = io({
          auth: (cb) => {
            cb({ userId: senderId })
          }
        })
        socket.emit('joinMyRoom', String(senderId));
          // location.reload();
        }
      }

      // 監聽可見性改變事件
      document.addEventListener('visibilitychange', handleVisibilityChange);

    </script>

</header>