<header class="mb-[75px]">
  <div
    class="flex flex-col items-center justify-center  md:flex-row top-0 left-0 w-full  fixed  bg-white md:border-b-[1px] shadow-md ">
    <div class="w-1/5 flex items-center justify-center md:justify-start ]">
      <a href="/" class="flex">
        <img src="/img/logo.svg" alt="你的智友" class=" w-[60px] mx-auto mt-5 md:mt-0 md:ml-6 md:p-2 ">
        <a href="/" class="p-1 md:tracking-[5px] text-[16px]" >你的智友</a>
      </a>
    </div>

    <!-- menu -->
    <div class="w-2/5 flex items-center justify-center md:justify-start md:ml-[50px] mt-2 md:mt:0">
      <nav>
        <ul class="flex items-center justify-center">
          <a href="/about"
            class="mx-2 md:mx-5 text-[10px] md:text-[16px] border-r pr-4 md:pr-8 border-black md:tracking-[5px]">關於我們</a>
          <a href="/articles"
            class="mx-2 md:mx-5 text-[10px] md:text-[16px] border-r pr-4 md:pr-8 border-black md:tracking-[5px]">智友記事</a>
          <a href="/user/signin" class="mx-2 md:mx-5 text-[10px] md:text-[16px] md:tracking-[5px]">成為智友</a>
        </ul>
      </nav>
    </div>

    <!-- search bar and icon -->

    <div class="w-2/5 flex items-center justify-center md:justify-end mt-3 mb-1 md:my-3 md:mr-6 ">
      <!-- search bar border: use flex to let children be flex in a row-->
     <form action="/api/v1/search/articles">
      <div
        class="flex items-center justify-center md:py-1 md:px-2 md:mr-8 rounded-full border border-gray-400 border-1">
        <!-- search bar text  -->
        <div class="w-4/5">
          <input class="flex-1 pl-2 md:px-4 md:py-2 rounded-full outline-none text-gray-600 md:text-m" type="text"
            placeholder="搜尋文章..." name="keyword">
        </div>
        <!-- icon  -->
        <div class="w-1/5 flex items-center justify-end">
          <button type="submit">
            <a href="#" class="flex items-center justify-end">
              <img src="/img/search.png" alt="search icon" class="w-5 h-5 md:w-8 md:h-8">
            </a>
          </button>
        </div>
      </div>
    </form>

      <div class="mr-6 hidden md:block relative" id="messageIcon">
        <a href="/chatroom">
          <img class="w-[30px]" src="/img/messenger.svg" alt="message">
        </a>
      </div>

      <div class="mr-6 hidden md:block ">
        <a href="/user/profile">
          <img src="/img/member.png" alt="">
        </a>
      </div>

    </div>

</header>