<div class="w-vw-20 p-4 h-vh-90  bg-gray-50">
  <div class="">
    <ul class="space-y-2 font-medium p-2 ">
      <li>
        <a onclick="profile()" class="cursor-pointer flex py-3 pl-3  overflow-y-auto bg-gray-50  hover:bg-gray-200 ">
          <img src="/img/member.svg" class="w-[20px]">
          <span class="ml-3">MyProfile</span>
        </a>
      </li>
      <li>
        <a href="/friends" class="flex py-3 pl-3 overflow-y-auto bg-gray-50  hover:bg-gray-200 ">
          <img src="/img/member.svg" class="w-[20px]">
          <span class="ml-3">My Mates</span>
        </a>
      </li>
      <li>
        <a href="/chatroom" class="flex block py-3 pl-3  overflow-y-auto bg-gray-50  hover:bg-gray-200 ">
          <img src="/img/messenger.svg" class="w-[20px]">
          <span class="ml-3">Chatroom</span>
        </a>
      </li>
      <li>
        <a href="/friends/recommend" class="flex py-3 pl-3 overflow-y-auto bg-gray-50  hover:bg-gray-200 ">
          <img src="/img/member.svg" class="w-[20px]">
          <span class="ml-3">Add New Mates</span>
        </a>
      </li>
      <li>
        <a href="/user/profile" class="flex  py-3 pl-3 overflow-y-auto bg-gray-50  hover:bg-gray-200 ">
          <img src="/img/tag.svg" class="w-[20px]">
          <span class="ml-3">Edit My Profile</span>
        </a>
      </li>
      <li>
        <a href="/user/create-article" class="flex pl-3 py-3 overflow-y-auto bg-gray-50  hover:bg-gray-200 ">
          <img src="/img/add.svg" class="w-[20px]">
          <span class="ml-3">Post Your Mood</span>
        </a>
      </li>

      
    </ul>
  </div>
  <div class="flex items-end justify-start pl-4 h-vh-35">
    <button class=" w-[90px] h-[35px] bg-blue rounded-full text-white text-blue-500 
  transition-all delay-100 hover:scale-95" onclick="logout()">Log out</button>
  </div>
</div>
<script>

  function profile() {
    const userId = localStorage.getItem('userId');
    const url = `/user/profile/${userId}`
    window.location.href = url;
  }

  function logout() {
    document.cookie.split(";").forEach(function (cookie) {
      document.cookie = cookie.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
    });

    localStorage.clear()
    window.location.href = "/";
  }
</script>