<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/img/logo1.svg">
    <title>Dementia Companion-about</title>
</head>

<body class="">
    <%- include('./partials/header') %>
        <div class="screen-h">
            <div class="bg-kv-image flex justify-center items-center h2  font-semibold bg-light-pink w-full h-vh-20 h-min-[230px] "><p class="font-bold text-white drop-shadow-lg ">ABOUT US</p></div>
            <div class="mt-12 flex items-start justify-center px-[140px]" style="width: calc(100% -348px);">
                <div class="" style="margin-right: -130px;">
                    <div class="text-[32px] font-medium tracking-widest mb-[30px] md:px-[35px]">「Dementia Companion」is a website designed specifically for the families of people with dementia</div>
                    <div class="w-vw-50 mt-5 text px-[80px]">
                        <span class="font-normal">Its purpose is to provide a platform where family members can connect with others who are going through similar
                        experiences, helping them make new friends, share information and experiences, and express their feelings.</span>
                        <br><br>
                        Through “Dementia Companion,” family members can connect with others facing similar challenges of caring for a loved
                        one with dementia. When registering, family members can provide relevant information, such as their age, the stage of
                        dementia, needs, and interests, to better match them with suitable companions.
        
                        <br><br>
                        They can create personal profiles on the website, share their stories and interests, and build strong friendships with
                        other families. These connections help reduce feelings of loneliness and stress, and provide emotional support and
                        understanding.
                    </div>
                </div>
                <div class="w-2/5  pt-[130px]">
                    <img class="w-[500px] drop-shadow-sm" src="/img/about_kv.svg">
                </div>
            </div>
        </div>
</body>

</html>