<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet" />
    <title>about</title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="flex flex-col items-center justify-center p-5  border-red-300">
        <div class="text-[30px] mt-5 border border-red-300">關於你的智友</div>
        <div class="w-vw-50 mt-5 border border-red-300">「你的智友」是一個專為失智家屬而設計的網站，旨在為他們提供一個平台，透過智慧媒合的方式，連結同樣處於類似經歷的家屬，讓他們能夠結交新朋友、分享資訊和經驗，並且抒發心情。

        這個網站以家屬的狀況為基礎，利用先進的智慧演算法，將相似的家庭狀況和需求進行媒合。家屬可以在註冊時提供相關資訊，例如家屬的年齡、失智症的程度、需求和興趣等，以便更準確地找到適合的伴侶。
        
        </div>

        <div class="w-vw-50 mt-5 border  border-red-300">
            透過「你的智友」，家屬們可以與同樣面臨失智家庭挑戰的人們建立聯繫。他們可以在網站上建立個人檔案，分享自己的故事、照片和興趣，與其他家屬建立起深厚的友誼。這種連結有助於減輕孤獨感和壓力，並提供情感支持和理解。
        
        此外，我們還提供一個專區，讓家屬能夠交流和分享資訊、經驗和實用的照護技巧。
        </div>

        <div class="w-vw-50 mt-5 border border-red-300">這個平台將成為一個寶貴的知識庫，家屬可以從其他網站成員的分享中獲得寶貴的建議和支持，同時也能給予他人幫助和鼓勵。
        
            你的智友致力於提供一個安全、支持性和友善的環境，讓失智家屬能夠找到理解和共鳴的同伴。這個網站將成為一個可靠的資源，幫助家屬面對挑戰，找到支持和鼓勵，並為他們的親人提供更好的照護。
            
            讓「你的智友」成為你關懷失智家庭的一份子，共同為這個特殊群體帶來溫暖、友誼和希望的力量！</div>

    </div>
</body>
</html>