<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/img/logo1.svg">
    <title>你的智友-about</title>
</head>

<body class="">
    <%- include('./partials/header') %>
        <div class="screen-h">
            <div class="bg-kv-image flex justify-center items-center h2  font-semibold bg-light-pink w-full h-vh-20 h-min-[230px] "><p class="font-bold text-white drop-shadow-lg ">關於智友</p></div>
            <div class="mt-12 flex items-start justify-center px-[140px]" style="width: calc(100% -348px);">
                <div class="" style="margin-right: -130px;">
                    <div class="text-[32px] font-medium tracking-widest mb-[30px] md:px-[35px]">「你的智友」是一個專為失智家屬而設計的網站</div>
                    <div class="w-vw-50 mt-5 text px-[80px]">
                        旨在為家屬提供一個平台，透過智慧媒合的方式，<span class="font-normal">連結同樣處於類似經歷的家屬，讓他們能夠結交新朋友、分享資訊和經驗，並且抒發心情。</span>
                        <br><br>
                        透過「你的智友」，家屬們可以與同樣面臨失智家庭挑戰的人們建立聯繫。
                        <span class="font-normal">家屬可以在註冊時提供相關資訊，例如家屬的年齡、失智症的程度、需求和興趣等，以便更準確地找到適合的智友。</span>
                        <br><br>
                        他們可以在網站上建立個人檔案，分享自己的故事和興趣，與其他家屬建立起深厚的友誼。這種連結有助於減輕孤獨感和壓力，並提供情感支持和理解。
                    </div>
                </div>
                <div class="w-2/5  pt-[130px]">
                    <img class="w-[500px] drop-shadow-sm" src="/img/about_kv.svg">
                </div>
            </div>
        </div>
</body>

</html>