<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>Admin</title>
</head>

<body>
    <%- include('./partials/header') %>
    <div class="flex flex-col items-center justify-center mx-auto">
      <h2 class="text-3xl font-bold mt-8 mb-4">ADMIN PAGE</h2>
      <div class="my-4">
        <h3 class="text-xl font-bold mb-2">聊天室功能</h3>
        <ul class="list-disc ml-6">
          <li><a href="/chatroom" target="_blank" class="text-blue-500 hover:underline">主聊天室</a></li>
          <li><a href="/chat1" target="_blank" class="text-blue-500 hover:underline">測試房ID3</a></li>
          <li><a href="/chat2" target="_blank" class="text-blue-500 hover:underline">測試房ID4</a></li>
          <li><a href="/api/v1/chatroom/13" target="_blank" class="text-blue-500 hover:underline">【API】messages：room-13</a></li>
        </ul>
      </div>
      <div class="my-4">
        <h3 class="text-xl font-bold mb-2">會員與個人專頁功能</h3>
        <ul class="list-disc ml-6">
          <li><a href="/user/signin" target="_blank" class="text-blue-500 hover:underline">登入頁</a></li>
          <li><a href="/user/profile" target="_blank" class="text-blue-500 hover:underline">個人總覽</a></li>
          <li><a href="/user/profile/form" target="_blank" class="text-blue-500 hover:underline">個人專頁表單</a></li>
          <li><a href="/user/profile/1" target="_blank" class="text-blue-500 hover:underline">個人專頁 by ID</a></li>
          <li><a href="/api/v1/user/profile/1" target="_blank" class="text-blue-500 hover:underline">【API】profile/1</a></li>
          <li><a href="/api/v1/friends" class="text-blue-500 hover:underline">【API】推薦好友 by locals.id</a></li>
          <li><a href="/friends" class="text-blue-500 hover:underline">【Page】推薦好友 by locals.id</a></li>
        </ul>
      </div>
      <div class="my-4">
        <h3 class="text-xl font-bold mb-2">admin建立資料</h3>
        <ul class="list-disc ml-6">
          <li><a href="/admin/tags" target="_blank" class="text-blue-500 hover:underline">建立病狀標籤</a></li>
        </ul>
      </div>
    </div>
    </body>
    

</html>