<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>
    <h2>ADMIN PAGE</h2>
    <div>
        <h3>聊天室功能</h3>
        <ul>
            <li><a href="/chat1" target="_blank">聊天室1</a></li>
            <li><a href="/chat2" target="_blank">聊天室2</a></li>
            <li><a href="/chat3" target="_blank">聊天室3</a></li>
            <li><a href="/api/v1/chatroom/12" target="_blank">API messages：room-12</a></li>
        </ul>
    </div>
    <div>
        <h3>個人專頁功能</h3>
        <ul>
            <li><a href="/user/profile" target="_blank">user profile</a></li>
            <li><a href="/api/v1/user/profile/1" target="_blank">API profile id=1</a></li>
        </ul>
    </div>
</body>

</html>