<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>測試間 ID3</title>
    <link href="/dist/output.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding-bottom: 3rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        }

        #form {
            background: rgba(0, 0, 0, 0.15);
            padding: 0.25rem;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            height: 3rem;
            box-sizing: border-box;
            backdrop-filter: blur(10px);
        }

        #input {
            border: none;
            padding: 0 1rem;
            flex-grow: 1;
            border-radius: 2rem;
            margin: 0.25rem;
        }

        #input:focus {
            outline: none;
        }

        #nickname-input {
            padding: 5px;
            flex-grow: 1;
            border-radius: 1rem;
            margin: 0.5rem;
        }

        #nickname-label {
            list-style-type: none;
            margin: 0;
            padding: 0.5rem 1rem;
        }


        #form>button {
            background: #333;
            border: none;
            padding: 0 1rem;
            margin: 0.25rem;
            border-radius: 3px;
            outline: none;
            color: #fff;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages>li {
            padding: 0.5rem 1rem;
        }

        #messages>li:nth-child(odd) {
            background: #efefef;
        }

        .send {
            color: rgb(29, 124, 150);
        }
    </style>
</head>

<body>

    <div class="flex justify-start items-center h-screen">
        <div class="border border-red-400 h-screen p-2 w-[400px]">
            <div class="bg-blue-300 p-2">測試間 ID3</div>
            <div class="bg-blue-100 mt-2 p-2">
                <div class="flex items-center">
                    <img class="w-10 h-10" src="./img/user.png" alt="">
                    <div class="ml-4">
                        <h5 class="text-lg">小美</h5>
                        <p class="mt-1">你在幹嘛？</p>
                    </div>
                </div>
            </div>
            <div class="bg-gray-200 mt-2 p-2">
                <div class="flex items-center">
                    <img class="w-10 h-10" src="./img/user.png" alt="">
                    <div class="ml-4">
                        <h5 class="text-lg">小寧</h5>
                        <p class="mt-1">吃飯了</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border border-red-400 h-screen p-2 w-[600px]">
            <label id="nickname-label" for="nickname-input">你的小名</label>
            <input class="border border-gray-400" type="text" id="nickname-input" placeholder="暱稱" value="ID3" required>
            <br>
            <ul id="messages">
                <li>聊天室-2</li>
            </ul>
            <form id="form" action="">
                <input class="pl-4" id="receiverId" type="text" placeholder="聊天對象ID">
                <input id="input" autocomplete="off" /><button>Send</button>
            </form>
        </div>
        <div class="flex items-center justify-center border border-red-400 h-screen w-[300px]">
            <div class="flex-col border border-red-300">
                <img class="p-10" src="./img/user.png" alt="">
                <div class="border border-red-300 mt-4">
                    <div class="text-lg" >Name</div>
                    <ul class="mt-2">
                        <li>tag 1</li>
                        <li>tag 2</li>
                        <li>tag 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>

        let socket = io();

        var messages = document.getElementById('messages');
        var form = document.getElementById('form');
        var input = document.getElementById('input');
        var nicknameInput = document.getElementById('nickname-input');
        var receiverInput = document.getElementById('receiverId')
        const senderPicture = '/img/users/1.png'

        // 以下為房間號碼設定，senderId需要抓userId的資料，receiverId需要抓收件人Id 
        const senderId = "3";
        socket.emit("joinMyRoom", senderId)  // 使用者進入自己的房間
        console.log('joinRoom');

        form.addEventListener('submit', function (e) {
            e.preventDefault();
            const nickname = nicknameInput.value;
            const receiverId = receiverInput.value;
            let room
            if (Number(senderId) > Number(receiverId)) {
                room = `${receiverId}${senderId}`;
            }
            else {
                room = `${senderId}${receiverId}`;
            }
            if (input.value) {
                socket.emit("send", { nickname, message: input.value, senderId, receiverId, room ,senderPicture});
                // socket.emit("send", "hi");

                console.log('send');
                // 前端畫面先不用管
                let userInput = document.createElement('li');
                userInput.classList.add('send');
                userInput.textContent = `${nickname}: ${input.value}【room${room}】`;
                messages.appendChild(userInput);
                window.scrollTo(0, document.body.scrollHeight);
                input.value = '';
                room = '';
            }
        });

        // 聽自己id的socket範圍，如果有訊息就拉出來
        socket.on("message", function (data) {
            console.log('收到');
            const { nickname, message, senderId, receiverId, room } = data;
            var item = document.createElement('li');
            item.textContent = `${nickname}  : ${message} 【room${room}】`;
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });


    </script>
</body>

</html>