<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/img/logo1.svg">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link href="/dist/output.css" rel="stylesheet" />

  <script src="https://cdn.tiny.cloud/1/noojwbb5k17nx69z2jeevq2ytvtc2ickif8sizioqzyqqvk5/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: 'textarea#content',
      content_style: 'body { font-family: Helvetica, Arial, sans-serif; font-size: 16px; }' +
        'div { font-weight: lighter; color: gray; }'
    });

  </script>

  <title>我的智友-新增文章</title>
</head>

<body class="bg-gray-100">
  <%- include('./partials/header') %>

    <div class="flex flex-col items-center p-7">
      <h1 class="text-3xl font-bold mb-4">新增心情記事</h1>
      <form id="createArticleForm" class="max-w-xl mt-5">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="title">標題：</label>
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="title" type="text" placeholder="請輸入標題" required>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="content">內容：</label>
          <textarea id="content"></textarea>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="date">日期：</label>
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="date" type="date" required>
        </div>
        <div class="flex justify-end">
          <button
            class="w-[90px] h-[35px] bg-blue rounded-full text-white text-blue-500 transition-all delay-100 hover:scale-95"
            type="button"><a href="/user/profile">回上一頁</a></button>
          <button id="submitButton"
            class="ml-4 w-[90px] h-[35px] bg-red rounded-full text-white text-blue-500 transition-all delay-100 hover:scale-95"
            type="submit">送出</button>
        </div>
      </form>
    </div>

    <script>

      document.getElementById("createArticleForm").addEventListener("submit", function (event) {
        event.preventDefault();

        const title = document.getElementById("title").value;
        const content = tinymce.activeEditor.getContent();
        // const content = document.getElementById("content").value;
        const date = document.getElementById("date").value;
        console.log('content', content);
        createArticle(title, content, date);
      });

      function createArticle(title, content, date) {
        fetch("/user/create-article", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ title, content, date })
        })
          .then(response => response.json())
          .then(data => {
            // 請求成功後的處理
            if (data.message === 'success') {
              console.log(data);
              console.log(data.message);
              // 清空輸入欄位
              document.getElementById("title").value = "";
              document.getElementById("content").value = "";
              document.getElementById("date").value = "";
              swal("文章已成功新增！");
              return window.location.href = "/user/profile"
            }
            console.log(data);
            swal("文章新增失敗！");
          })
          .catch(error => {
            // 請求失敗後的處理
            console.error(error);
          });
      }

      const dateInput = document.getElementById("date");
      const today = new Date().toISOString().split("T")[0];
      dateInput.setAttribute("max", today);
      dateInput.setAttribute("value", today);

    </script>
</body>

</html>