<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet" />
  <title>Home</title>
</head>

<body>
  <%- include('./partials/header') %>
    <div class="flex justify-center items-center w-vw-100 h-vh-90"
      style="background-image: url('/img/kv_bg.png'); background-size: cover;">

      <div class="flex flex-col items-center justify-start h-full w-full py-[150px]">

        <div class="flex-col ">
          <p class="text-center text-[26px] font-sans text-gray-600 tracking-widest font-thin">
            <span class="font-light text-black text-[40px] tracking-[12px]">尋找你的智友</span><br>
            一個專為失智家屬而設計的社群平台
          </p>
        </div>

        <form class="mt-8 md:p-6 flex flex-col justify-center 
        items-center w-[450px] h-[220px] border border-gray-400 bg-pink rounded-lg"
          action="/api/v1/search/friends">
          <p class="text-center font-thin mb-4 text-[18px]">輸入你的煩惱，尋找相似的好朋友</p>
          <div class="flex items-center justify-center md:py-1
           rounded-full border border-gray-400 bg-white border-1 ">
            <!-- search bar text  -->
            <div class="w-4/5 ">
              <input class="flex-1 pl-2 md:px-4 md:py-2 rounded-full outline-none text-gray-600 md:text-m font-light" type="text"
                placeholder="輸入你的煩惱..." name="keyword">
            </div>
            <!-- icon  -->
            <div class="w-1/5 flex items-center justify-center">
              <button type="submit">
                <a href="#" class="flex items-center justify-end">
                  <img src="/img/search.png" alt="search icon" class="w-5 h-5 md:w-8 md:h-8">
                </a>
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
</body>

</html>