<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/img/logo1.svg">
  <link href="/dist/output.css" rel="stylesheet" />
  <title>Home</title>
</head>

<body>
  <%- include('./partials/header') %>
    <div class="flex justify-center items-center screen-h bg-kv-image">
      <div class="flex flex-col items-center justify-start h-full w-full py-[150px]">

        <div class="flex-col ">
          <p class="h3">
            <span class="text-[32px] font-semibold md:text-[48px] text-gray-800">Find Your<br><span
                class="text-blue drop-shadow-sm ">Dementia Companion</span></span><br>
            <span class="mb-4 text-[14px]">Provide connections with others who are going through similar
            experiences</span>
          </p>
        </div>

        <form class="mt-8 md:p-6 flex flex-col justify-center 
        items-center w-[380px] md:w-[460px] h-[230px] border border-gray-500 bg-light-pink rounded-lg"
          action="/api/v1/search/articles">
          <p class="text-center mb-4 text-[14px] md:text-[18px] text-gray-800">Search experiences you want to know</p>
          <div class="w-[250px] md:w-[300px] flex items-center justify-center md:py-1
           rounded-full border border-gray-400 bg-white border-1 ">
            <!-- search bar text  -->
            <div class="w-4/5 ">
              <input class="flex-1 pl-2 md:px-4 md:py-2 w-full rounded-full outline-none text-blue md:text-m"
                type="text" placeholder="How to ..." name="keyword">
            </div>
            <!-- icon  -->
            <div class="w-1/5 flex items-center justify-center">
              <button type="submit">
                <a href="#" class="flex items-center justify-end transition-all delay-75 hover:scale-95">
                  <img src="/img/search.png" alt="search icon" class="w-5 h-5 md:w-8 md:h-8">
                </a>
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
</body>

</html>