<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="/dist/output.css" rel="stylesheet" />
    <title>login</title>
    
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <%- include('./partials/header') %>
        <div class="flex justify-center items-center h-vh-90" id="signupDiv"
            style="background-image: url('/img/kv_bg.png'); background-size: cover; z-index:-1 ;display: none;">

            <div id="login" class=" flex flex-wrap justify-center">
                <div
                    class="flex-col items-center justify-center login-form p-10 w-[350px] h-[460px] border border-gray-200 shadow-md bg-white">
                    <form method="POST" id="signup-form" >
                        <div class="text-[26px] text-center mb-2">註冊</div>
                        <div class="text-[14px] text-center">請填寫以下基本資料</div>
                        <div class="message  text-center text-blue-500 p-2"></div>
                        <input id="signup-name"
                            class="input-field border border-gray-300  mt-4 w-[268px] h-[38px] rounded-sm px-2 text-sm"
                            type="text" placeholder="Name" name="name" required>
                        <input id="signup-mail"
                            class="input-field border border-gray-300 w-[268px] mt-4 h-[38px] rounded-sm px-2 text-sm"
                            type="email" placeholder="Email" name="email" required>
                        <input id="signup-password"
                            class="input-field border border-gray-300  mt-4 h-[38px] w-[268px] rounded-sm px-2 text-sm"
                            type="password" placeholder="Password" name="password" required>

                        <button
                            class="bg-red hover:bg-white hover:border hover:border-red hover:text-red w-[268px] h-[38px] text-white mt-6 rounded-3xl text-[14px]"
                            type="submit" class="button">註冊成為智友</button>

                        <!-- <button
                            class="border border-blue-500 w-[268px] h-[38px] text-blue-500 mt-4 rounded-3xl text-[12px] fb-login"
                            onclick="login()"> Sign up with Facebook</button> -->

                    </form>
                    <button id="to-signin-btn"
                        class="bg-blue hover:bg-white hover:border hover:border-blue hover:text-blue text-white w-[268px] h-[38px] mt-4 rounded-3xl text-[14px]"
                        type="click"> 已經有帳號改登入</button>
                </div>
            </div>
        </div>


        <div class="flex justify-center h-screen" id="signinDiv"
            style="background-image: url('/img/kv_bg.png'); background-size: cover">

            <div id="login" class=" flex flex-wrap justify-center mt-20">
                <div class="flex justify-center items-start  mx-6 my-4">
                    <form id="signin-form"
                        class="flex-col items-center justify-center login-form p-10 w-[350px] h-[430px] border border-gray-200  shadow-md"
                        method="POST">
                        <div class="text-[26px] text-center mb-2">登入</div>
                        <div class="text-[14px] text-center">請填寫以下資料登入</div>
                        <div class="signin-message text-center text-blue-500 p-2"></div>

                        <input id="signin-mail"
                            class="input-field border border-gray-300 w-[268px] mt-4 h-[38px] rounded-sm px-2 text-sm "
                            type="email " placeholder="Email" name="email" required>
                        <input id="signin-password"
                            class="input-field border border-gray-300  mt-4 h-[38px] w-[268px] rounded-sm px-2 text-sm"
                            type="password" placeholder="Password" name="password" required>

                        <button
                            class="bg-red hover:bg-white hover:border hover:border-red hover:text-red w-[268px] h-[38px] text-white mt-6 rounded-3xl text-[14px]"
                            type="submit" class="button">立即登入</button>
                        <button id="to-signup-btn"
                            class="bg-blue hover:bg-white hover:border hover:border-blue hover:text-blue text-white w-[268px] h-[38px]  mt-4 rounded-3xl text-[14px] fb-login"
                            > 還沒有帳號？立即註冊</button>
                    </form>
                </div>

            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script>
            
            const toSignIn = document.getElementById("to-signin-btn")
            const toSignUp = document.getElementById("to-signup-btn")
            const signinDiv = document.getElementById("signinDiv")
            const signupDiv = document.getElementById("signupDiv")

            toSignIn.addEventListener("click", (e) => {
                e.preventDefault();
                // console.log('click toSignIn');
                signinDiv.style.display = "flex";
                signupDiv.style.display = "none";
            })

            toSignUp.addEventListener("click", (e) => {
                e.preventDefault();
                // console.log('click toSignUp');
                signinDiv.style.display = "none";
                signupDiv.style.display = "flex";
            })

            // 送出註冊signUp
            $('#signup-form').submit(async (event) => {
                // console.log('submit')
                event.preventDefault();
                const name = $('#signup-name').val();
                const email = $('#signup-mail').val();
                const password = $('#signup-password').val();
                const data = {
                    name: name,
                    email: email,
                    password
                }

                try {
                    const response = await fetch('/user/signup', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })

                    if (response.ok) {
                        const data = await response.json();
                        console.log(data);
                        localStorage.setItem('userId', data.data.user.id);
                        localStorage.setItem('name', data.data.user.name);
                        localStorage.setItem('userPicture', data.data.user.picture);

                        const redirectUrl = data.data.redirectUrl;
                        window.location.href = redirectUrl;
                    } else {
                        const data = await response.json();
                        console.log('ok',data.message);
                        swal(data.message); //顯示登入失敗錯誤訊息
                    }
                } catch (error) {
                    console.log(error)
                    swal(error.message)
                }

            });

            // 送出登入sign in
            $('#signin-form').submit(async (event) => {
                console.log('submit')
                event.preventDefault();
                const email = $('#signin-mail').val();
                const password = $('#signin-password').val();
                console.log(email, password)
                console.log('--登入前端---')
                const data = {
                    email: email,
                    password: password
                }

                try {
                    const response = await fetch('/user/signin', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })


                    if (response.ok) {
                        console.log('1');
                        const data = await response.json();
                        console.log('data',data);
                        console.log('picture',data.data.user.picture);

                        localStorage.setItem('userId', data.data.user.id);
                        localStorage.setItem('name', data.data.user.name);
                        localStorage.setItem('picture', data.data.user.picture);

                        const redirectUrl = data.redirectUrl;
                        window.location.href = redirectUrl;
                       
                    } 
                    else {
                        console.log('2');
                        const data = await response.json();
                        swal(data.errors); 
                    }

                } catch (error) {
                    swal(error.message)
                }

            });


            // FB登入
            const msgDiv = document.querySelector('.signin-message');

            window.fbAsyncInit = function () {
                FB.init({
                    appId: '598353045687371',
                    xfbml: true,
                    version: 'v16.0'
                });
                FB.AppEvents.logPageView();
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            function login() {
                FB.login(function (response) {
                    console.log(response);
                    const accessToken = response.authResponse.accessToken;
                    console.log(accessToken)
                    if (response.status === "connected") {
                        FB.api('/me', {
                            'fields': 'id,name,email,picture'
                        }, function (response) {
                            console.log(response);

                            const fb_api_url = '/user/signin';
                            const config = {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({
                                    provider: "Facebook",
                                    email: response.email,
                                    accessToken: accessToken
                                }),
                            }

                            fetch(fb_api_url, config)
                                .then(res => {
                                    if (res.ok) {
                                        return res.json()
                                    } else {
                                        throw new Error(`Request failed with status ${res.status}`);
                                    }
                                }
                                )
                                .then(res => {
                                    console.log('登入成功')
                                    msgDiv.innerText = "恭喜你登入成功!";
                                })
                                .catch(err => console.log(err))
                        });
                    }
                }, {
                    scope: 'email',
                    auth_type: 'rerequest'
                });
            }

            function clickLogin() {
                const loginDiv = document.getElementById('login-div');
                loginDiv.innerHTML = signInDiv;
            }

        </script>

</body>


</html>